@import '../../../variables';

.number-tile {
    margin-bottom: 5px;
    
    .row {
        margin-bottom: 2px;
    }

    &_label, &_icon {
        padding: 14px;
        text-align: center;
        border: 1px solid black;
    }

    &_label {
        border-radius: 0.8rem 0 0 0.8rem;
        border-right: none;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        color:white;
    }

    &_icon {
        border-radius: 0 0.8rem 0.8rem 0;
        position: relative;

        &_circle {
            color:grey;
            position: absolute;
            right: 0;
            left: 0;
            top:50%;
            transform: translateY(-50%);
            font-size: 35px;

            &.active {
                color: greenyellow;
            }
        }

        :host-context(.bingo-col-1) {
            background-color: $red;
            .number-tile_icon_circle {
                color: $red-darker;
                &.active {
                    color: white;
                }
            }

            .number-tile_label, .number-tile_icon {
                border-color: $red-darker;
            }
        }

        :host-context(.bingo-col-2) {
            background-color: $blue;
            .number-tile_icon_circle {
                color: $blue-darker;
                &.active {
                    color: white;
                }
            }

            .number-tile_label, .number-tile_icon {
                border-color: $blue-darker;
            }
        }

        :host-context(.bingo-col-3) {
            background-color: $green;
            .number-tile_icon_circle {
                color: $green-darker;
                &.active {
                    color: white;
                }
            }

            .number-tile_label, .number-tile_icon {
                border-color: $green-darker;
            }
        }

        :host-context(.bingo-col-4) {
            background-color: $yellow;
            .number-tile_icon_circle {
                color: $yellow-darker;
                &.active {
                    color: white;
                }
            }

            .number-tile_label, .number-tile_icon {
                border-color: $yellow-darker;
            }
        }

        :host-context(.bingo-col-5) {
            background-color: $purple;
            .number-tile_icon_circle {
                color: $purple-darker;
                &.active {
                    color: white;
                }
            }

            .number-tile_label, .number-tile_icon {
                border-color: $purple-darker;
            }
        }
    }
}