<div class="container-fluid px-0 bingo-grid">
    <div class="row">
        <div class="col-md-2 side-pane">
            <button class="btn btn-danger m-3 reset" (click)="resetGame()">
                <i class="fas fa-redo-alt"></i>
                <span class="ml-3 btn-text">Restart</span>
            </button>
            <app-current-number-tile></app-current-number-tile>
            <div class="button-wrapper px-3">
                <button class="btn btn-primary btn-block p-3 next" (click)="getNextNumber()">
                    Draw a new number<i class="fas fa-hand-paper ml-3"></i>
                </button>
            </div>
           
            
        </div>
        <div class="col-md-10 grid">
            <div class="row no-gutters justify-content-end">
                <ng-container *ngFor="let col of this.bingoService.grid.getColumns(); let i = index">
                    <div class="col-md-2  bingo-col-{{i+1}}">
                        <app-bingo-column [column]="col"></app-bingo-column>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<app-current-number-fullscreen></app-current-number-fullscreen>