@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$red : #ec2c36;
$red-dark : #d61d26;
$red-darker : #a3252b;

$blue : #2d7cc6;
$blue-dark : #185d9e;
$blue-darker : #1f588d;

$green : #34bc64;
$green-dark : #209449;
$green-darker : #34804f;

$yellow : #e6a61e;
$yellow-dark : #d6960b;
$yellow-darker : #c27604;

$green : #34bc64;
$green-dark : #209449;
$green-darker : #31794a;

$purple : #7842b7;
$purple-dark : #5e2d96;
$purple-darker : #491a80;